body {
  background-color: white;
}

.remainingTask {
  text-align: center;
}

#complete_button {
  text-align: center;
  font-size: 16px;
  background-color: #6F9CEB;
  border-color: #6F9CEB;
}

#delete_button {
  background-color: transparent;
  border: transparent;
}

#addTaskButton {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #306BAC;
  border-color: #306BAC;
}

.TaskItemText {
  font-size: 16px;
}

h1 {
  text-align: center;
}

#incompleteTaskContainer {
  background-color: #FFD9DA;
  border-radius: 5px;  
}

#completeTaskContainer {
  background-color: #FDF0F1;
  border-radius: 5px;  
}

#addItemForm {
  justify-content: center;
}