body {
  background-color: white;
}

.remainingTask {
  text-align: center;
}

#complete_button {
  background-color: transparent;
  border: transparent;
}

#delete_button {
  background-color: transparent;
  border: transparent;
}

#addTaskButton {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #306BAC;
  border-color: #306BAC;
}

.TaskItemText {
  font-size: 16px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

h1 {
  text-align: center;
}

#incompleteTaskContainer {
  background-color: #F3FCFB;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px #97C4BE; 
}

#completeTaskContainer {
  background-color: #FDF0F1;
  border-radius: 5px;  
}

#addItemForm {
  justify-content: center;
}