.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.remainingTask {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-success {
  padding: 10px;
  margin: 10px;
  float: left;
  text-align: center;
  font-size: 16px;
  background-color: #6F9CEB;
  border-color: #6F9CEB;
}

.btn-danger {
  padding: 10px;
  margin: 10px;
  float: left;
  text-align: center;
  font-size: 16px;
  background-color: #EA638C;
  border-color: #EA638C;
}

.btn-primary {
  padding: 10px;
  margin: 10px;
  float: left;
  text-align: center;
  font-size: 16px;
  background-color: #306BAC;
  border-color: #306BAC;
}

.TaskItemText {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

h1 {
  text-align: center;
}

/* #intro {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
} */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */